*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.border{
    box-sizing: border-box;
    background-color: rgb(187, 12, 12);
    height: 38px;
}
.border h3{
    font-family: montserrat;
    color: rgba(255, 255, 255, 0.945);
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    line-height: 33px;
    font-size: 14px;
    text-decoration: none;
    font-size: 17px;
}
.border a{
    font-family: montserrat;
    color: rgba(255, 255, 255, 0.945);
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    line-height: 32px;
    float: right;
    text-decoration:none;
    font-size: 18px;
}
.border h3 i {
    padding-right: 5px;
}
.border a i {
    padding-right: 5px;
}
.banner{
    width: 100%;
    height: 94vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 180px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    font-family: montserrat;
    text-decoration: none;
    color: lightyellow;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:lightyellow;
}
.content h1{
    font: normal 36px 'Cookie', cursive;
    font-size: 50px;
    margin-top: 60px;
}
.content p{
    margin: 20px auto;
    font-weight: 120;
    line-height: 20px;
}
.banner1{
    width: 100%;
    height: 70%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Background2.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    width: 40%;
    position: relative;
    transform: translate(0%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border-radius: 2%;
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
img{
    width: 100%;
}
.title h2 {
    width: 100%;
    top: 50%;
    transform: translate(20%, -820%);
    text-align: left;
    color: yellow;
    letter-spacing: 1px;
    outline: none;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: white;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: yellow;
        text-shadow: 0 0 10px yellow,
                   0 0 20px yellow,
                   0 0 40px yellow,
                   0 0 80px yellow,
                   0 0 160px yellow;
    }
}
.feedbacks{
  padding: 20px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border1{
  width: 160px;
  height: 5px;
  background: maroon;
  margin: 23px auto;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.customer{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.feedback{
  background: #fff;
  padding: 30px;
}
.feedback img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: yellow;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.customer{
  flex: 100%;
  max-width: 80%;
}
}
@media screen and (max-width:600px) {
    .customer{
      flex: 100%;
      max-width: 100%;
    }
}
.footer {
    position: static;
    margin-top: 0%;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: rgb(187, 12, 12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 40px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: gold;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 24px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: gold;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #b0bac4;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 33px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: gold;
}

.footer-links a:hover {
    color: gold;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}  